body {
  background-color: #ffefef;
}

.e2-square {
  box-sizing: border-box;
  cursor: pointer;
  height: 82px;
  width: 82px;
  padding-top: 12px;
  padding-right: 12px;
  font-size: 22px;
  display: inline-block;
  text-align: end;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
  color: black;
}

.orange {
  background-color: orange;
  color: black;
}